body{
    font-family: 'Courier New', Courier, monospace;
}
.seccion{
    width: 300px;
    text-align: center;
    margin: 50px auto;
    border: 1px solid #808080a2;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);

}
.seccion h1{
    font-size: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-items: center;
    width: 100%;
}
figure{
     width: 300px;
}
figure img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}
h2{
    font-size:0.9rem;
}
h2, p{
    margin: 5px;
}
p{
    font-size: 0.8rem;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
}
.social span{
    display: none;
}
.social li{
    list-style-type: none;
    padding: 5px;
}
.social a{
    display: block;
    text-decoration: none;
}
.social i{
    color: black;
    align-items: center;
    padding: 5px;
    
}
.social i:hover{
    color: blue;
    align-items: center;
    
    font-size: 20px;
    
}


button{
    width: 100%;
    background-color: black;
    color: white;
   
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
